/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Joan&family=Lobster&family=Poppins&display=swap');

/* common css */
body {
    margin: 0 auto;
    font-family: 'Joan', serif;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

.button {
    text-decoration: none;
    color: #161616;
    font-size: 20px;
    text-align: center;
    padding: 14px 30px;
    background-color: #ffffff;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
}

.button:hover,
.channel-link:hover {
    color: #ffffff;
    background-color: #F58120;
}

.animated-button {
    text-decoration: none;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #E8E8E8;
    color: #161616;
    text-align: center;
    font-size: 20px;
    padding: 14px 30px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.animated-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.animated-button span::after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.animated-button:hover {
    color: #ffffff;
    background-color: #F58120;
    border: none;
}

.animated-button:hover span {
    padding-right: 25px;
}

.animated-button:hover span::after {
    opacity: 1;
    right: 0;
}

/* top banner section style  */
.top-banner {
    height: 646px;
    background-color: #222222;
    border-radius: 30px;
    display: flex;
    position: relative;
    margin: 50px auto;

}

.top-banner-section {
    width: 50%;
    padding: 111px 106px;
}

.top-banner-section h2 {
    font-size: 70px;
    font-weight: 700;
    color: #ffffff;
    line-height: 80px;
    margin: 0 0 20px 0;
}

.top-banner-section p {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 30px;
}

.top-banner-section img {
    position: absolute;
    bottom: 0;
    right: 56px;
    height: 613px;
}

/* main body style  */
.main-body {
    display: flex;
    column-gap: 24px;
    margin-top: 100px;
}

.side-menu-section {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: #222222;
    padding: 30px;
    border-radius: 10px;
    width: 312px;
}

.blog-container,
.match-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 24px;
}

.blog-section,
.match-section {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.blog-section img {
    width: 100%;
}

.blog-section-text {
    margin: 20px;
}

.channel-link {
    font-size: 16px;
    text-decoration: none;
    color: #161616;
    border: 1px solid #161616;
    border-radius: 5px;
    padding: 7px 25px;
    text-align: center;
    font-weight: 500;
}

.blog-link {
    text-decoration: none;
    color: #161616;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
}

.blog-link:hover,
.match-link:hover {
    color: #F58120;
}

.blog-icon {
    margin-right: 25px;
    color: #161616;
    font-size: 16px;
    line-height: 26px;
}

.blog-icon i {
    margin-right: 10px;
}

.view-all {
    text-align: center;
    margin-top: 35px;
    display: none;
}

.view-all a {
    display: inline-block;
}

/* upcoming match page style start */
.match-section {
    text-align: center;
    padding: 50px 22px 30px;
}

.match-section-flag {
    display: flex;
    justify-content: center;
    align-items: center;
}

.match-section-flag div span {
    font-size: 16px;
    font-weight: 700;
    color: #161616;
    margin: 0 20px;
}

.match-link {
    text-decoration: none;
    color: #161616;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}

.match-time {
    font-size: 16px;
    color: #4d4d4d;
    line-height: 19px;
}

/* upcoming match page style end */

/* footer area style start */
footer {
    height: 444px;
    text-align: center;
    background-color: #222222;
    margin-top: 100px;
}

.footer-container {
    padding-top: 90px;
}

.footer-container h2 {
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
    margin: 30px 0;
}

.footer-container hr {
    color: #b9b9b9;
}

.company-contact-lists a,
.company-social-lists a {
    text-decoration: none;
    color: #b9b9b9;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    margin: 20px 35px;
}

.company-contact-lists a:hover,
.company-social-lists a:hover {
    color: #F58120;
}

/* smaller device  */

@media screen and (max-width: 642px) {

    /* common css for media query  */
    .container {
        margin: 0 20px;
    }

    .animated-button {
        font-size: 14px;
        padding: 6px 15px;
    }

    .button {
        font-size: 14px;
        padding: 6px 15px;
    }

    .top-banner-section {
        width: auto;
        padding: 10px;
        text-align: center;
    }

    .top-banner-section h2 {
        font-size: 40px;
        line-height: 43px;
        margin: 10px 0;
    }

    .top-banner-section p {
        font-size: 12px;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 355px;
        height: 1.2em;
        white-space: nowrap;
    }

    .top-banner-section img {
        right: 40px;
        height: auto;
    }

    .main-body {
        flex-direction: column;
        margin-top: 0;
    }

    .side-menu-section {
        row-gap: 20px;
        background-color: transparent;
        width: auto;
    }

    .blog-container,
    .match-container {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 0;
    }

    .channel-link {
        font-size: 12px;
        padding: 5px 20px;
    }

    .blog-link {
        font-size: 16px;
        line-height: 20px;
    }

    .blog-icon {
        font-size: 12px;
        line-height: 20px;
        margin-right: 15px;
    }

    footer {
        height: auto;
        margin-top: 40px;
    }

    .footer-container {
        padding-top: 1px;
    }

    .footer-container h2 {
        font-size: 30px;
        margin: 20px 0;
    }

    .company-contact-lists a {
        font-size: 12px;
        display: block;
        margin: 15px 30px;
    }

    .company-social-lists a {
        font-size: 14px;
        margin: 10px;
    }
}

/* medium device */

@media screen and (min-width: 643px) and (max-width: 1100px) {

    /* common css for media query */
    .container {
        margin: 0 20px;
    }

    .button {
        color: #161616;
        font-size: 14px;
        padding: 9px 19px;
        width: 100%;
        margin-right: 15px;
    }

    .animated-button {
        font-size: 14px;
        padding: 9px 19px;
    }

    .button:last-child {
        margin-right: 0;
    }

    .top-banner {
        height: auto;
        margin: 40px auto 10px;
    }

    .top-banner-section {
        width: 50%;
        padding: 30px;
    }

    .top-banner-section h2 {
        font-size: 45px;
        line-height: 55px;
        margin: 0 0 10px 0;
    }

    .top-banner-section p {
        font-size: 14px;
        margin-bottom: 20px;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 355px;
        height: 1.2em;
        white-space: nowrap;
    }

    .top-banner-section img {
        right: 0;
        height: 100%;
    }

    .main-body {
        column-gap: 0;
        flex-direction: column;
        margin-top: 13px;
    }

    .side-menu-section {
        flex-direction: row;
        row-gap: 0;
        background-color: transparent;
        padding: 10px 0;
        border-radius: 10px;
        width: auto;
    }

    /* blog page media query */
    .blog-container,
    .match-container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 20px;
    }

    .channel-link {
        font-size: 14px;
        padding: 5px 20px;
    }

    .blog-link {
        font-size: 17px;
        line-height: 22px;
    }

    .blog-icon {
        font-size: 14px;
        line-height: 22px;
        margin-right: 18px;
    }

    .view-all {
        display: block;
        text-align: center;
    }

    .view-all a {
        display: inline;
    }

    footer {
        height: auto;
        margin-top: 50px;
    }

    .footer-container {
        padding-top: 1px;
    }

    .footer-container h2 {
        font-size: 35px;
        margin: 20px 0;
    }

    .company-contact-lists a {
        font-size: 14px;
        margin: 15px 30px;
    }

    .company-social-lists a {
        font-size: 14px;
        margin: 10px;
    }

    /* upcoming match media query */
    .match-container {
        margin-bottom: 40px;
    }

}

@media screen and (min-width: 1101px) and (max-width: 1200px) {
    .top-banner-section {
        padding: 100px 85px;
    }

    .top-banner-section h2 {
        font-size: 60px;
        line-height: 70px;
    }

    .side-menu-section {
        padding: 25px;
        width: 220px;
    }

    .button {
        font-size: 18px;
        padding: 12px 24px;
    }

    .match-section {
        padding: 50px 10px 30px;
    }
}